@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap');

:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
}


html {
  font-family: 'Spartan', sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}


h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.7rem;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}
p {
  color: var(--text-color);
}

input:focus {
  outline: none;
}

.container {
  background-color: var(--body-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr; 
  min-height: 100vh;
  min-width: 100vw;
  
}
.textos{ 
  margin-left: 3.5rem;
  margin-bottom: 5rem;
}
.textos-news-one {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: var(--title-color);
  font-size: 2.3rem;
  margin-bottom: .85rem;
  /* letter-spacing: 1.2px;
  word-spacing: 1.2px; */
}

.textos-news-two {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.3rem;
 /*  letter-spacing: 1.2px; */
  margin-bottom: 1rem;
}

.textos-news-three {
  font-family: 'Spartan', sans-serif;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 400;
  /* letter-spacing: 1.2px; */
}

.img-header {
  width: 38rem;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.textos-links {
  color: var(--bg-button-color);
  margin-left: 3.5rem;
  display: inline;
}

.form-input p {
  color: var(--form-color);
  font-size: 1.5rem;
}

.form-input {
  margin-left: 3.5rem;
  position: relative;
}
input {
  width: 68rem;
  padding: 1.2rem;
  border: 2px solid white;
  border-left: 2px solid var(--title-color);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.button-input {
  background-color: var(--bg-button-color);
}

.container-input {
  position: absolute;
  display: flex;
}

button {
  border: 2px solid var(--bg-button-color);
  padding: 4px;
}


.img-aside {
  width: auto;
  min-height: 100%;
}

button:hover img {
  transform: rotate(360deg);
}

.texto-roxo {
  margin-top: 14rem;
  cursor: pointer;
}

.img-seta {
  position: relative;
  top: .7rem;
  cursor: pointer;
}

.texto-roxo:hover .img-seta {
  transform: translateX(3px);
}

.texto-roxo:hover {
  opacity: 0.9;
}
