@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap');

:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
}


html {
  font-family: 'Spartan', sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}


h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.7rem;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}
p {
  color: var(--text-color);
}

input:focus {
  outline: none;
}

.container {
  background-color: var(--body-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr; 
  min-height: 100vh;
  min-width: 100vw;
  
}
.textos{ 
  margin-left: 3.5rem;
  margin-bottom: 5rem;
}
.textos-news-one {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: var(--title-color);
  font-size: 2.3rem;
  margin-bottom: .85rem;
  /* letter-spacing: 1.2px;
  word-spacing: 1.2px; */
}

.textos-news-two {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.3rem;
 /*  letter-spacing: 1.2px; */
  margin-bottom: 1rem;
}

.textos-news-three {
  font-family: 'Spartan', sans-serif;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 400;
  /* letter-spacing: 1.2px; */
}

.img-header {
  max-width: 38rem;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.textos-links {
  color: var(--bg-button-color);
  margin-left: 3.5rem;
  display: inline;
}

.form-input p {
  color: var(--form-color);
  font-size: 1.5rem;
}

.form-input {
  margin-left: 3.5rem;
  position: relative;
}
input {
  width: 68rem;
  padding: 1.2rem;
  border: 2px solid white;
  border-left: 2px solid var(--title-color);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.button-input {
  background-color: var(--bg-button-color);
}

.container-input {
  position: absolute;
  display: flex;
}

button {
  border: 2px solid var(--bg-button-color);
  padding: 4px;
}

.container-img {
  background-image: url(../assets/read_news.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img-aside {
  min-height: 100%;
  object-fit: cover;
  object-position: 100% 100%;
}

button:hover img {
  transform: rotate(360deg);
}

.texto-roxo {
  margin-top: 14rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.img-seta {
  position: relative;
  top: .8rem;
  cursor: pointer;
}

.texto-roxo:hover .img-seta {
  transform: translateX(3px);
}

.texto-roxo:hover {
  opacity: 0.9;
}

@media (max-width: 1200px) {
  input {
    max-width: 60rem;
  }
  .textos {
    margin-right: 2rem;
  }
}

@media (max-width: 900px) {
  input {
    width: 50rem;
  }
  .textos {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  input {
    display: flex;
    min-width: 90%;
    width: 30rem;
    
  }

  .textos {
    margin-right: 2rem;
  }

  .content {
    padding: 5rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr; 
  }

  .container-img {
    display: none;
  }

  .texto-roxo {
    margin-top: 14rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .img-header {
    max-width: 20rem;
  }

  .header {
    text-align: center;
  }

  .container-input {
    position: static;
  }

  .form-input {
    align-self: center;
    position: static;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
